/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/*  --------------- Global Styles -----------------  */

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  border: 5px solid;
  font-weight: 600;
  font-size: 36px;
}

h1.title {
  text-align: center;
}

#expand {
  cursor: pointer;
  margin-bottom: 0;
  padding-bottom: 0;
}

#labsList {
  display: none;
  margin-top: 0;
  padding-top: 0;
}
