/*  --------------- Box Sizing -----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  --------------- Utility Classes -----------------  */

.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
}

/*  --------------- Global Styles -----------------  */

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  background-color: #052123;
  color: #daf8f9;
}

a {
  color: #84e4ec;
  transition: 0.4s;
}

a:hover {
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header {
  border-bottom: 5px solid;
  font-weight: 600;
  font-size: 36px;
  line-height: 4rem;
}

main {
  line-height: 1.7rem;
}

h1.title {
  text-align: center;
}

#expand {
  cursor: pointer;
  margin-bottom: 1rem;
}

#labsList {
  display: none;
}

article {
  margin-top: 2rem;
  border-top: 5px solid #daf8f9;
}